body {
    background-color:#7062BF;
    color:black;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}
h1{
background-color:#554A91;
color:white;

}
img{
width: 4%;

}